../README.md
../practical2/Conversion.c
../practical2/README.md
../practical2/Sum.c
../practical3/README.md
../practical3/practical3.c
../practical4/README.md
../practical4/practical4.c
../practical5/README.md
../practical5/arctanh.c
../practical5/fib.c
../practical5/use_scanf.c
